* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ECECEC; 
}

.container {
	width: 80%;
	margin: 0 auto;
}

.clear-fix {
	clear: both;
}

#logo-bar img {
	height: 200px;
}

#nav-content {
	height: 40px;
	border-radius: 5px;
	background-color: #882433; 
}

#nav-content ul li {
	line-height: 36px; 
	padding: 0 30px;
	border-radius: 5px; 
	margin: 2px;
	color: #fff;
	list-style: none;
	text-decoration: none;
	display: inline;
	float: left;
}

#nav-content ul .active, #nav-content ul li:hover {
	background-color: #ECECEC;
	color: #000;
}

#main-content {
	width: 70%;
	float: left;
}

.article {
	padding: 10px 15px;
	border-radius: 5px;
	margin: 10px 5px;
	background-color: #fff;
	overflow: auto;
}

#main-content .article {
	margin-left: 0; 
}

.article .title {
	margin: 15px 10px;
	color: #781a26;
}

.article .meta-info {
	margin: 15px 10px;
	font-style: italic;
	color: #000;
}

.article p {
	margin: 10px 30px;
}

.article a {
	padding:5px 9px;
	border-radius:5px;
	display:block;
	float:right;
	font-size: 16px;
	color:#ffffff;
	background-color:#c13046;
}

.article a:hover {
	background-color: #000;
}

#side-bar-content {
	width: 30%;
	float: left;
}
#side-bar-content .article {
	margin-right: 0; 
}

#footer-bar {
	height: 40px;
	border-radius: 5px;
	margin-bottom: 20px;
	background-color: #882433; 
}

#footer-bar p {
	line-height: 40px;
	text-align: center;
	color: #fff;
}

